<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Study Platform</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/1.css' %}">
</head>
<body>

  <button id="profile-button">Profile</button>

  <button id="logout-button">Logout</button>

<script>

    function updateNav() {
          const token = localStorage.getItem('token');
          if (token) {
              document.getElementById('logout-button').style.display = 'block';
          } else {
              document.getElementById('logout-button').style.display = 'none';
          }
      }

     document.addEventListener('DOMContentLoaded', () => {
          const token = localStorage.getItem('token');
          if (!token) {
              window.location.href = '/';
          } else {
              updateNav();
          }
      });

     document.getElementById('profile-button').addEventListener('click', () => {
          window.location.href = '/profile';
      });

    document.getElementById('logout-button').addEventListener('click', async () => {
        const token = localStorage.getItem('token');
        const response = await fetch('http://127.0.0.1:8000/api/users/logout/', {
            method: 'POST',
            headers: {
                'Authorization': `Token ${token}`,
            },
        });

        if (response.status === 204) {
            localStorage.removeItem('token');
            localStorage.removeItem('username');
            window.location.href = '/';
        } else {
            alert('Logout failed');
        }
    });
</script>


{% block content %}
{% endblock content %}
<!-- FOOTER -->
<footer class="site-footer">
  <div class="container">
        <p class="copyright-text">Copyright &copy; 2024 Oyla</p>
  </div>
</footer>
</body>
</html>