{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" class="img-thumbnail" alt="Profile Picture">
        {% else %}
            <img src="{% static 'images/default_profile.png' %}" class="img-thumbnail" alt="Default Profile Picture">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h2>{{ profile_user.username }}</h2>
        <p>{{ profile.bio }}</p>
        {% if user == profile_user %}
            <a href="{% url 'users:edit_profile' %}" class="btn btn-secondary mt-2">Edit Profile</a>
        {% endif %}
    </div>
</div>
<hr>
{% endblock %}