{% extends 'base.html' %}

{% block content %}
  <div class="main-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <img class="single-video" src="{{ video.image }}" alt="">
        </div>
        <div class="col-md-6 col-sm-6">
          <span class="date">{{ video.create_at }}</span>
          <h4><a href="http://127.0.0.1:8000/video/api/stream/{{ video.id }}/">{{ video.title }}</a></h4>
          <p>{{ video.description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <video id="my-video" class="video-js" controls preload="auto" width="1000" height="800" data-setup="{}">
            <source src="http://127.0.0.1:8000/video/api/stream/{{ video.id }}/" type="video/mp4" />
            <source src="http://127.0.0.1:8000/video/api/stream/{{ video.id }}/" type="video/webm" />

        </video>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}