{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/courses.css' %}?v=1.0">


    <h1>Available Courses</h1>

<div class="container">
    <ul>
        {% for course in course_list %}
            <li>
                <a href="{% url 'topics' course.id %}">{{ course.title }}</a>
                <p>{{ course.description }}</p>
                <small>Created on: {{ course.created_at }}</small>
                <br>
                <br>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}