{% extends 'base.html' %}

{% block content %}

    <h1>Topics in Course</h1>

<!--    &lt;!&ndash; Список тем &ndash;&gt;-->
<!--    <ul>-->
<!--        {% for topic in topics %}-->
<!--            <li>-->
<!--                <a href="{% url 'videos' pk=pk topic_id=topic.id %}">{{ topic.title }}</a>  &lt;!&ndash; Ссылка на видео темы &ndash;&gt;-->
<!--            </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->

<!--    <h1>Topics</h1>-->
<div class="container">
    <ul>

        {% for topic in topics %}
            <li>
                <a href="{% url 'videos' pk=pk topic_id=topic.id %}">{{ topic.title }}</a>
                <p>{{ topic.description }}</p>
            </li>

        {% endfor %}
    </ul>
</div>

{% endblock content %}